{% extends "base.html" %}
{% load tailwind_cli %}

{% block title %}Task Manager | Task creation{% endblock %}

{% block content %}

    <h1 class="text-2xl font-bold mb-6">Создать задачу</h1>
    <form method="post" action="">
        {% csrf_token %}

        <label class="block mt-3">
            Имя:
            <input type="text" name="name" value=""
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <label class="block mt-3">
            Описание:
            <input type="text" name="description" value=""
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <label class="block mt-3">
            Статус:
            {{ form.status }}
        </label>

        <label class="block mt-3">
            Исполнитель:
            {{ form.performer }}
        </label>

        <label class="block mt-3">
            Метки:
            {{ form.label }}
        </label>

        <button type="submit"
                class="w-full mt-3 py-2 bg-indigo-600 text-white rounded hover:underline">
            Создать
        </button>
    </form>

{% endblock %}