{% extends "base.html" %}
{% load tailwind_cli %}

{% block title %}Task Manager | Confirmation{% endblock %}

{% block content %}

    <h1>Изменение данных пользователя</h1>
    <form method="post" action="">
        {% csrf_token %}

        <label class="block mt-3">
            Новое имя:
            <input type="text" name="first_name" value="{{ user.first_name }}"
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <label class="block mt-3">
            Новая фамилия:
            <input type="text" name="last_name" value="{{ user.last_name }}"
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <label class="block mt-3">
            Новое имя пользователя:
            <input type="text" name="username" value="{{ user.username }}"
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <label class="block mt-3">
            Новый пароль:
            <input type="password" name="password1" value=""
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <label class="block mt-3">
            Подтверждение пароля:
            <input type="password" name="password2" value=""
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <button type="submit"
                class="w-full mt-3 py-2 bg-indigo-600 text-white rounded hover:underline">
            Внести изменения
        </button>

    </form>

{% endblock %}