{% extends "base.html" %}
{% load tailwind_cli %}

{% block content %}

    <h1 class="text-2xl font-bold mb-6">Вход</h1>
    <form method="post" action="">
        {% csrf_token %}

        <label class="block mt-3">
            Имя пользователя:
            <input type="text" name="username" value=""
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <label class="block mt-3">
            Пароль:
            <input type="password" name="password" value=""
                   class="block w-full border border-slate-200 rounded px-4 py-2 mt-2">
        </label>

        <button type="submit"
                class="w-full mt-3 py-2 bg-indigo-600 text-white rounded hover:underline">
            Войти
        </button>
    </form>

{% endblock %}