{% extends "base.html" %}
{% load tailwind_cli %}

{% block title %}Task Manager | Users{% endblock %}

{% block content %}



    <title>Users</title>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Полное имя</th>
                <th>Дата создания</th>
                <th>placeholder</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined|date:"d-m-Y H:i" }}</td>
                <td>
                    <a href="{% url 'user_update' user.id %}">Изменить</a>  / Удалить
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>







{% endblock %}